In [3]:
#%% Import packages and libraries
# Import libraries and packages
import pandas as pd
import numpy as np
import re
import textract
import gensim
from gensim import corpora, models, similarities, matutils
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize,RegexpTokenizer
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.util import ngrams
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity
import time

In [5]:
#%% load the first doc (JD)
text0 = textract.process(r"C:\Users\regina\Desktop\Metis\Metis Projects\JDTopics\Resume data\Data Scientist JD.pdf")
str(text0)
print(text0)

b"We are looking for a data scientist that will help us discover the information hidden in vast amounts of data, and help us make smarter decisions to deliver even better products. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems integrated with our products. automate scoring using machine learning techniques, build recommendation systems, improve and extend the features used by our existing classifier, develop internal A/B testing procedures, build system for automated fraud detection.\r\nResponsibilities Selecting features, building and optimizing classifiers using machine learning techniques Data mining using state-of-the-art methods Extending company's data with third party sources of information when needed Enhancing data collection procedures to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Doing ad-hoc analysis and presenting results in a clear manner Creating automated anomaly detection systems and constant tracking of its performance\r\nSkills and Qualifications Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc. Experience with common data science toolkits, such as R, Weka, NumPy, MatLab. Excellence in at least one of these is highly desirable Great communication skills Experience with data visualisation tools, such as D3.js, GGplot, etc. Proficiency in using query languages such as SQL, Hive, Pig Experience with NoSQL databases, such as MongoDB, Cassandra, HBase Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good scripting and programming skills Data-oriented personality\r\n\r\n\x0c"

In [8]:
#%% load the 2nd doc
text1 = textract.process(r"C:\Users\regina\Desktop\Metis\Metis Projects\JDTopics\Resume data\Whitmore.docx")
str(text1)
print(text1)

b'Jonathan Whitmore PhD, Data Scientist\n\nMountain View, CA +1 650-943-3715 B JBWhit@gmail.com \xc3\x8d JonathanWhitmore.com JBWhit JonathanBWhitmoreExperience\n\n2014Present\n\nData Scientist, Silicon Valley Data Science, Mountain View, CA, USA. { Consulting as a member of several small data science/data engineering teams at multiple companies. { Creatingoutputtoexplaindataanalysis, datavisualization, andstatisticalmodelingresultstomanagers. { Modeling survey data responses with ordinal logistic regression in R. { Analyzing and visualizing user behavior migration. 2014 Insight Fellow, Insight Data Science, Palo Alto, CA, USA. { Created a Data Science project to predict the auction sale price of Abstract Expressionist art. 2011\xe2\x80\x932014 Postdoctoral Research Associate, Swinburne University, Melbourne, AUS. { Cleaned noisy and inhomogeneous astronomical data taken over four years by di\xef\xac\x80erent observing groups. { Curated central data repository of \xef\xac\x81nal products; developed an automated process to update data repository; created web interface for collaborator access to the repository. { Utilized numerous statistical techniques, including sensitivity analysis on non-linear propagation of errors, Markov-Chain Monte Carlo for model building, and hypothesis testing via information criterion. { Simulatedspectroscopicdatatoexposesystematicerrorsthatchallengelong-standingresultsonwhether the fundamental physical constants of the universe are constant. 2005\xe2\x80\x932011 Graduate Student Researcher, UCSD, San Diego, CA, USA. { Developed a novel technique to extract information from high resolution spectroscopic data that led to uncovering unknown short-range systematic errors. Programming and Development Skills Languages Python, SQL (Impala/Hive), R, L ATEX, shell scripts, CSS, HTML. Tools Jupyter Notebook, pandas, matplotlib, numpy, scikit-learn, scipy, pymc3, git, pandoc. Publishing, Speaking, and Side Projects 2016 O\xe2\x80\x99Reilly author: Jupyter Notebook for Data Science Teams [screencast], editor O\xe2\x80\x99Reilly Media. 2016 UC Berkeley Guest Lecturer: Master in Data Science lecture on Jupyter Notebook. 2015 Open Source Speaker: OSCON. 2014\xe2\x80\x932015 Technical reviewer of Mastering SciPy by Francisco J. Blanco-Silva, 2015. 2012\xe2\x80\x932014 DeveloperofRebalanceAssetAllocation,aPythonmodulethatrecommends\xef\xac\x81nancialassetclassallocations. 2013-2014 Contributor to astropy; creator of dipole_error, an astronomy Python module. 2013 Co-star and narrator of Hidden Universe, a 3D IMAX astronomy \xef\xac\x81lm playing worldwide. 2007\xe2\x80\x932009 Graduate Physics Courses Taken: Stochastic Methods, Computational Physics. Education 2011 PhD Physics, University of California San Diego, San Diego, CA, USA. 2007 MS Physics, University of California San Diego, San Diego, CA, USA. 2005 Bachelor of Science\xe2\x80\x93Magna Cum Laude, Vanderbilt University, Nashville, TN, USA. Triple major: Physics (honors); Mathematics; Philosophy.'

In [10]:
#%% load the 3rd doc
text2 = textract.process(r"C:\Users\regina\Desktop\Metis\Metis Projects\JDTopics\Resume data\Khristian Kotov.docx")
str(text2)
print(text2)

b'Khristian Kotov CERN, CH-1211 Geneva 23, Switzerland; kkotov@cern.ch; +41 (0) 76 451 1507\n\nProfessional summary: I am a data scientist and software engineer with a substantial experience in big (petabyte-scale) data handling and processing. My work relies heavily on implementing e\xef\xac\x83cient program algorithms, running Monte Carlo modeling, and performing statistical inference. I routinely use machine learning techniques, architect data analysis pipelines, and publish in the major peer-reviewed journals.\n\nHighlights: Data mining, cleaning, and imputing, principal component analysis, statistical data modeling Pattern recognition, forecasting, classi\xef\xac\x81cation, clustering, regression/\xef\xac\x81tting Greedy algorithms, e\xef\xac\x83cient data structures, dynamic programming Parallel computing, High-Throughput Computing, computing clusters and grids\n\nTechnical skills: Full pro\xef\xac\x81ciency in C/C++/STL programming Strong background in Python, SQL, R (including writing packages), regular expressions Experience with Apache Spark, Linux administration\n\nExperience: 2015 Aug \xe2\x80\x93 present: Scienti\xef\xac\x81c software engineer at the University of Florida (UF) Took over an orphan database logging system recording hardware con\xef\xac\x81guration and running conditions and extended its functionality to address new requirements of the hardware upgrade\n\n2010 Oct \xe2\x80\x93 2015 July: Data Scientist at The Ohio State University (formally Ph.D. Research Associate)\n\nProposed, designed, performed, and published topical physics analyses at LHC CERN [1,2,3,4]\n\n- conducted exploratory analysis, identi\xef\xac\x81ed relevant classi\xef\xac\x81ers - designed work\xef\xac\x82ows for processing large datasets on LHC computing grid and clusters - performed statistical modeling, drawn quantitative conclusions, wrote scienti\xef\xac\x81c publications\n\n2004 Jan \xe2\x80\x93 2010 Sep: Ph.D. Research Assistant at the University of Florida\n\nAssisted production and commissioning of the custom-built electronic system [5] for fast online pattern recognition. Prepared and performed physics analyses with the very \xef\xac\x81rst data from LHC.\n\n- designed suites for the data quality monitoring [6,7] - evaluated performance of the system by analyzing data from the dedicated tests - measured the underlying event model parameters in the new energy regime of the LHC\n\n1998 Sep \xe2\x80\x93 2003 Dec: Research Assistant at Budker Institute of Nuclear Physics\n\nDeveloped software tools for data analysis at the detector KEDR; here I implemented:\n\n- analysis framework structuring numerous loosely connected Fortran and C/C++ libraries - machine learning based particle identi\xef\xac\x81cation (decision trees, neural networks [rus]) - algorithms for energy measurement calibration [rus] (corrected 30% error at the start-up)\n\nEducation: Ph.D. in Physics, University of Florida, Gainesville, USA, 2010 (4.0 GPA) M.S. (2001) and B.S. (1999) in Physics with honor, Novosibirsk State University, Russia\n\nCoursera certi\xef\xac\x81cates in: Data Science [1,2,3,4], Statistical Inference, Machine Learning [1,2], Algorithms, Bioinformatics [1,2,3,4]'

In [12]:
#%% load the 4th doc
text3 = textract.process(r"C:\Users\regina\Desktop\Metis\Metis Projects\JDTopics\Resume data\Regina Cheong summary.docx")
str(text3)
print(text3)

b'Regina Cheong  https://github.com/1Regina |  https://www.linkedin.com/in/regina-cheong/  \n\n Summary  A seasoned professional experienced in analytics and extraction of insights, focusing on applications in finance, corporate governance and financial services.  Conversant in SQL, Python for packages such as NumPy, Pandas, Matplotlib, Seaborn, Machine Learning and visualization platforms such as Tableau and Power BI. \n\n Currently seeking a Business Intelligence / Data Scientist role to deepen my data skillset while leveraging my commercial experience. \n\n Career Experiences \n\n Metis  Data Scientist                                                                \t\t\t\t Jul \xe2\x80\x9819 \xe2\x80\x93 Present \n\nAttending a 12 weeks immersive Data Science Programme with applications involving multi-facets of statistics, project design, data transformation, machine learning and story-telling. \n\nProduced various supervised and unsupervised learning projects involving regression, classification (logistic regression, KNN, Na\xc3\xafve Bayes, SVM, Decision Forests, bagging, ensemble), natural language processing, and deep learning. \n\nProjects include: Using machine learning for investment decisions; rainfall predictor. \n\n SMRT Corporation Financial Planning & Analysis Manager \t\t\t   Feb \xe2\x80\x93 Jun \xe2\x80\x9919 [Contract] \n\nAnalyzed the group\xe2\x80\x99s P&L performance during the Qtr4 and Financial Year closing to provide insights to management using key metrices e.g. ridership, fare, energy consumption, headcount, fleet size. \n\nReviewed overseas investment for impairment using scenario testing. \n\nEnterprise Singapore Senior Business Partner \t\t\t\t\t\tJul \xe2\x80\x9817 \xe2\x80\x93 Jul \xe2\x80\x9818 Analyzed different clusters performance to highlight trends and insights with charts (e.g. scatter plot, bar charts). \n\nAided KPIs negotiation using local business landscape analysis. \xef\x82\xb7 Partnered MTI to draft local champions transformation stories for minister\xe2\x80\x99s speeches.  \n\nAchievement: Alignment of multiple business groups requirements unto a new common CRM platform resulting in cost savings of $142k on subscriptions. (2018). \n\n KPMG Manager  \t\t\t\t\t\t\t\t        \tOct \xe2\x80\x9815 \xe2\x80\x93 Jul \xe2\x80\x9917 \n\nProject management for thought leadership initiatives (e.g. resource planning, review, data analysis and charts).  \n\nSupported research and analysis efforts (e.g. survey questions, invites, desktop research, response analysis). Achievements: Two publications on i) review of 545 listed companies\xe2\x80\x99 annual report (AR) disclosure and ii) comparative study of 200 companies\xe2\x80\x99 AR disclosures over a 3 years gap. \n\n Nanyang Polytechnic Senior Internal Auditor\t\t\t\t\t\t  Aug \xe2\x80\x9809 \xe2\x80\x93 Jan \xe2\x80\x9812 \n\nConducted audits and wrote reports to support procedural enhancements for management consideration. \n\n Morgan Stanley Product Controller\t\t\t\t\t\t\t Jul \xe2\x80\x9807 \xe2\x80\x93 Mar \xe2\x80\x9809 \n\nAnalyzed daily profit and loss (P&L) key drivers for reporting after validation to news sources. \n\nAchievement: Chief Financial Officer Excellence Award \n\nCredit Suisse Product Controller \t\t\t\t\t\t\tMay \xe2\x80\x9806 \xe2\x80\x93 Jul \xe2\x80\x9807\n\nReconciled daily profit and loss (P&L) for reporting. \n\n PricewaterhouseCoopers Senior Associate \t\t\t\t\t\tSep \xe2\x80\x9803 \xe2\x80\x93 Apr \xe2\x80\x9806  \n\nResearched industry trends for variance analysis evaluation.  \n\nManaged projects from planning to completion including coaching junior staff, project deliverables and budget. \n\n Skills  \n\nData visualization: Tableau, Power BI, Matplotlib, Seaborn, GGplot\n\n Programming Language: Python Machine Learning: Regression, Classification, NLP, Deep-Learning  \n\nDatabase technologies: SQL. Mongo Statistical tools: NumPy \n\nMachine Learning Algo-NN, Naive Bayes, SVM, Decision Forest\n\nApplied statistics skill: Regression, Classification and NLP\n\nMicrosoft Office: Excel, PowerPoint, Word \n\n \n\nQualifications \n\nUdemy Completed 8 courses spanning 60 hours in data visualization (Tableau & Power BI), Python, SQL (2017 -Present) \n\nChartered Accountant | ISCA (Institute of Singapore Chartered Accountants) (2005 \xe2\x80\x93 Present)\n\n Bachelor of Accountancy |Nanyang Technological University (2000 \xe2\x80\x93 2003)'

In [13]:
# Create a dataframe with a single column of strings of the 4 docs
data = {'description': [text0,text1,text2,text3]}
df_description = pd.DataFrame(data, columns = ['description'])
df_description
df_description.to_csv("df_description.csv", index = False)

In [14]:
# df_description0= pd.read_csv(r"C:\Users\regina\Desktop\Metis\Metis Projects\JD Resume Matcher\job_description.csv")

In [15]:
# df_description0.head()

In [16]:
df_description= pd.read_csv(r"df_description.csv")
df_description.head()

                                         description
0  b"We are looking for a data scientist that wil...
1  b'Jonathan Whitmore PhD, Data Scientist\n\nMou...
2  b'Khristian Kotov CERN, CH-1211 Geneva 23, Swi...
3  b'Regina Cheong  https://github.com/1Regina | ...

In [17]:
# Remove punctuation 
df_description['no_punctuation'] = df_description['description'].str.replace('[^\w\s]','')

# Change to lower case
df_description ['lower_case'] = df_description['no_punctuation'].astype(str).str.lower()

# Apply word tokenizer
df_description['tokenized_text'] = df_description['lower_case'].apply(word_tokenize)

# Remove stop words
df_description['key_words'] =df_description['tokenized_text'].apply(lambda x: [item for item in x if item not in stopwords.words('english')])

df_description.head()

,description,no_punctuation,lower_case,tokenized_text,key_words
0,"b""We are looking for a data scientist that wil...",bWe are looking for a data scientist that will...,bwe are looking for a data scientist that will...,"[bwe, are, looking, for, a, data, scientist, t...","[bwe, looking, data, scientist, help, us, disc..."
1,"b'Jonathan Whitmore PhD, Data Scientist\n\nMou...",bJonathan Whitmore PhD Data ScientistnnMountai...,bjonathan whitmore phd data scientistnnmountai...,"[bjonathan, whitmore, phd, data, scientistnnmo...","[bjonathan, whitmore, phd, data, scientistnnmo..."
2,"b'Khristian Kotov CERN, CH-1211 Geneva 23, Swi...",bKhristian Kotov CERN CH1211 Geneva 23 Switzer...,bkhristian kotov cern ch1211 geneva 23 switzer...,"[bkhristian, kotov, cern, ch1211, geneva, 23, ...","[bkhristian, kotov, cern, ch1211, geneva, 23, ..."
3,b'Regina Cheong https://github.com/1Regina | ...,bRegina Cheong httpsgithubcom1Regina httpsw...,bregina cheong httpsgithubcom1regina httpsw...,"[bregina, cheong, httpsgithubcom1regina, https...","[bregina, cheong, httpsgithubcom1regina, https..."

In [18]:
# Join the tokenized words for count vectorizing
df_description['joined_Sent'] = [' '.join(map(str, indStem)) for indStem in df_description['key_words']]
df_description.head()

,description,no_punctuation,lower_case,tokenized_text,key_words,joined_Sent
0,"b""We are looking for a data scientist that wil...",bWe are looking for a data scientist that will...,bwe are looking for a data scientist that will...,"[bwe, are, looking, for, a, data, scientist, t...","[bwe, looking, data, scientist, help, us, disc...",bwe looking data scientist help us discover in...
1,"b'Jonathan Whitmore PhD, Data Scientist\n\nMou...",bJonathan Whitmore PhD Data ScientistnnMountai...,bjonathan whitmore phd data scientistnnmountai...,"[bjonathan, whitmore, phd, data, scientistnnmo...","[bjonathan, whitmore, phd, data, scientistnnmo...",bjonathan whitmore phd data scientistnnmountai...
2,"b'Khristian Kotov CERN, CH-1211 Geneva 23, Swi...",bKhristian Kotov CERN CH1211 Geneva 23 Switzer...,bkhristian kotov cern ch1211 geneva 23 switzer...,"[bkhristian, kotov, cern, ch1211, geneva, 23, ...","[bkhristian, kotov, cern, ch1211, geneva, 23, ...",bkhristian kotov cern ch1211 geneva 23 switzer...
3,b'Regina Cheong https://github.com/1Regina | ...,bRegina Cheong httpsgithubcom1Regina httpsw...,bregina cheong httpsgithubcom1regina httpsw...,"[bregina, cheong, httpsgithubcom1regina, https...","[bregina, cheong, httpsgithubcom1regina, https...",bregina cheong httpsgithubcom1regina httpswwwl...

In [19]:
df_description.to_csv("df_description_senten.csv", index = False)

In [20]:
# def breakwords (column):
#     for senten in df_description['key_words']:
#         words = senten.split()
#         return words
        
# Taking the first 80 words after target word in dataframe column
def nextword(target, source):
    skillslist = []
    for i, w in enumerate(source):
#         print(i,w)
        # Find index where target is present in w
        # Then return the 80 words from that index.
        for j,indword in enumerate(w):
            if target == indword:
                print(j)
                skillslist.append(w[j+1:j+81])
                break
    return skillslist

In [21]:
skills = nextword ('skills' ,df_description['key_words'])

144
160
82
353

In [22]:
print(skills[0])

['experience', 'data', 'visualisation', 'tools', 'd3js', 'ggplot', 'etc', 'proficiency', 'using', 'query', 'languages', 'sql', 'hive', 'pig', 'experience', 'nosql', 'databases', 'mongodb', 'cassandra', 'hbase', 'good', 'applied', 'statistics', 'skills', 'distributions', 'statistical', 'testing', 'regression', 'etc', 'good', 'scripting', 'programming', 'skills', 'dataoriented', 'personalityrnrnx0c']

In [23]:
str_skills0 = ' '.join(skills[0])

In [24]:
str_skills0

'experience data visualisation tools d3js ggplot etc proficiency using query languages sql hive pig experience nosql databases mongodb cassandra hbase good applied statistics skills distributions statistical testing regression etc good scripting programming skills dataoriented personalityrnrnx0c'

In [25]:
str_skills1 = ' '.join(skills[1])

In [26]:
str_skills2 = ' '.join(skills[2])

In [27]:
str_skills3 = ' '.join(skills[3])

### Using a For Loop instead

In [28]:
str_skill = [] # initiate the list outside
for n in range (0,4):
    x = ' '.join(skills[n])
    str_skill.append(x)

type(str_skill)

list

In [29]:
str_skill

['experience data visualisation tools d3js ggplot etc proficiency using query languages sql hive pig experience nosql databases mongodb cassandra hbase good applied statistics skills distributions statistical testing regression etc good scripting programming skills dataoriented personalityrnrnx0c',
 'languages python sql impalahive r l atex shell scripts css html tools jupyter notebook pandas matplotlib numpy scikitlearn scipy pymc3 git pandoc publishing speaking side projects 2016 oxe2x80x99reilly author jupyter notebook data science teams screencast editor oxe2x80x99reilly media 2016 uc berkeley guest lecturer master data science lecture jupyter notebook 2015 open source speaker oscon 2014xe2x80x932015 technical reviewer mastering scipy francisco j blancosilva 2015 2012xe2x80x932014 developerofrebalanceassetallocationapythonmodulethatrecommendsxefxacx81nancialassetclassallocations 20132014 contributor astropy creator dipole_error astronomy python module 2013 costar narrator hidden universe 3d imax',
 'full proxefxacx81ciency ccstl programming strong background python sql r including writing packages regular expressions experience apache spark linux administrationnnexperience 2015 aug xe2x80x93 present scientixefxacx81c software engineer university florida uf took orphan database logging system recording hardware conxefxacx81guration running conditions extended functionality address new requirements hardware upgradenn2010 oct xe2x80x93 2015 july data scientist ohio state university formally phd research associatennproposed designed performed published topical physics analyses lhc cern 1234nn conducted exploratory analysis identixefxacx81ed relevant classixefxacx81ers designed workxefxacx82ows processing large datasets lhc',
 'nndata visualization tableau power bi matplotlib seaborn ggplotnn programming language python machine learning regression classification nlp deeplearning nndatabase technologies sql mongo statistical tools numpy nnmachine learning algonn naive bayes svm decision forestnnapplied statistics skill regression classification nlpnnmicrosoft office excel powerpoint word nn nnqualifications nnudemy completed 8 courses spanning 60 hours data visualization tableau power bi python sql 2017 present nnchartered accountant isca institute singapore chartered accountants 2005 xe2x80x93 presentnn bachelor accountancy nanyang technological university 2000 xe2x80x93 2003']

In [30]:
type([str_skills0,str_skills1,str_skills2,str_skills3])

list

In [31]:
# # Create a dataframe with a single column of strings of the 4 docs
# data = {'skills': [str_skills0,str_skills1,str_skills2,str_skills3]}
# df_skills = pd.DataFrame(data, columns = ['skills'])
# df_skills
# df_skills.to_csv("df_skills.csv", index = False)

In [32]:
# Create a dataframe with a single column of strings of the 4 docs
data = {'skills': str_skill }
df_skills = pd.DataFrame(data, columns = ['skills'])
df_skills
# df_skills.to_csv("df_skills.csv", index = False)

                                              skills
0  experience data visualisation tools d3js ggplo...
1  languages python sql impalahive r l atex shell...
2  full proxefxacx81ciency ccstl programming stro...
3  nndata visualization tableau power bi matplotl...

In [33]:
df_skills.head()

                                              skills
0  experience data visualisation tools d3js ggplo...
1  languages python sql impalahive r l atex shell...
2  full proxefxacx81ciency ccstl programming stro...
3  nndata visualization tableau power bi matplotl...

In [34]:
# Document-Term Matrix (Count Vectorizer)
word_vectorizer = CountVectorizer(analyzer='word',stop_words = 'english')
sparse_matrix = word_vectorizer.fit_transform(df_skills["skills"])
dt_skills = pd.DataFrame(sparse_matrix.toarray(), columns=word_vectorizer.get_feature_names())
# dt_skills.shape
dt_skills.tail()
# dt_skills.to_csv("dt_skills.csv", index=True)

,1234nn,2000,2003,2005,2012xe2x80x932014,2013,20132014,2014xe2x80x932015,2015,2016,...,universe,university,upgradenn2010,using,visualisation,visualization,word,workxefxacx82ows,writing,xe2x80x93
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,0,0,0,0,1,1,1,1,2,2,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,2,0,...,0,2,1,0,0,0,0,1,1,2
3,0,1,1,1,0,0,0,0,0,0,...,0,1,0,0,0,2,1,0,0,2

In [35]:
# # Document-Term Matrix - TF-IDF [NOTES IS INCORRECT due to array.shape]
# cv_tfidf = TfidfVectorizer(ngram_range=(1,2), analyzer='word')
# sparse_matrix = cv_tfidf.fit_transform(df_skills["skills"]) # include all documents
# dt_tfidf = pd.DataFrame(sparse_matrix.toarray(), columns=cv_tfidf.get_feature_names())
# dt_tfidf.head()

## Manual Cosine Similarity##

In [36]:
# calculate the cosine similarity between all combinations of documents
from itertools import combinations

# corpus = [str(" ".join(skills[0])), str(" ".join(skills[1])),str(" ".join(skills[2])),str(" ".join(skills[3]))]   

#list all of the combinations of 4 take 2 as well as the pairs of phrases
pairs =list(combinations(enumerate(str_skill),2))
combos =[(a[0], b[0]) for a,b in pairs] # documents pairs
phrases =[(a[1],b[1]) for a, b in pairs] # words pairs
print(combos)
# print(corpus)

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

In [37]:
# Formula of cosine simiarity
np.dot(np.array(dt_skills.iloc[0])/np.sqrt(np.sum(np.square(np.array(dt_skills.iloc[0])))),
       np.array(dt_skills.iloc[1]/np.sqrt(np.sum(np.square(np.array(dt_skills.iloc[1]))))))

0.07927524902574902

In [38]:
#calculate the cosine similarity for all pairs of phrases and sort by most similar
# results_comparison = [cosine_similarity(dt_skills.iloc[a],dt_skills.iloc[b]) for a, b in combos] 
results_comparison = [np.dot(np.array(dt_skills.iloc[a])/np.sqrt(np.sum(np.square(np.array(dt_skills.iloc[a])))),
       np.array(dt_skills.iloc[b]/np.sqrt(np.sum(np.square(np.array(dt_skills.iloc[b])))))) for a, b in combos]
#sorted(zip(results_comparison,phrases),reverse=True)

In [39]:
combos,results_comparison

([(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)],
 [0.07927524902574902,
  0.08486775178136235,
  0.14708710135363806,
  0.09445988668039029,
  0.11116216147498596,
  0.14064125478257256])

## TFIDF COSINE similarity

## Put comparatives into corpus of strings and apply cosine similarity##

In [33]:
corpus = [str(skills[0]), str(skills[1]),str(skills[2]),str(skills[3])]                                                                                                                                                                                                   
vect = TfidfVectorizer(min_df=1, stop_words="english")                                                                                                                                                                                                   
tfidf = vect.fit_transform(corpus)                                                                                                                                                                                                                       
pairwise_similarity = tfidf * tfidf.T

In [34]:
pairwise_similarity.toarray()

array([[1.        , 0.03319965, 0.04233082, 0.08069443],
       [0.03319965, 1.        , 0.04760509, 0.0541448 ],
       [0.04233082, 0.04760509, 1.        , 0.09339443],
       [0.08069443, 0.0541448 , 0.09339443, 1.        ]])

In [35]:
pairwise_similarity.toarray()[0]

array([1.        , 0.03319965, 0.04233082, 0.08069443])